:root {
    --input-bg-color: var(--white);
    --input-filled-color: var(--primary-100);
    --body-bg-color: var(--grey-850);
    --aside-bg-color: var(--grey-850);
    --aside-right-bg-color: var(--grey-75);
    --breadcrumbs-color: var(--primary-800);
    --border-color-danger: var(--danger-800);
    --border-color-warning: var(--warning-800);
    --debug-color: var(--danger-800);
    --false-color: var(--danger);
    --hover-color: var(--primary-850);
    --link-color: var(--primary-700);
    --main-bg-color: var(--white);
    --main-index-bg-color: var(--grey-75);
    --mainmenu-link-color: var(--white);
    --mainmenu-link-hover-color: var(--primary-400);
    --scrollbar-color: var(--primary-750);
    --scrollbar-hover-color: var(--primary-850);
    --scrollbar-track-color: var(--white);
    --table-caution-color: var(--caution-200);
    --table-error-color: var(--danger-200);
    --table-info-color: var(--info-200);
    --table-highlight-color: var(--black);
    --table-highlight-bg-color: var(--warning-200);
    --title-container-color: var(--black);
    --title-color-default: var(--black);
    --title-color-primary: var(--info);
    --title-color-danger: var(--danger);
    --title-color-extra: var(--caution);
    --title-color-success: var(--success);
    --title-color-warning: var(--warning-800);
    --usertools-bg-color: rgba(0, 0, 0, .35);
    --usertools-hover-color: var(--primary-800);
    --usertools-text-color: var(--white);
    --footer-text-color: var(--white);
    --footer-info-color: var(--grey-500);
    --footer-link-color: var(--white);
    --bs-border-color: var(--grey-200);
    --btn-color: var(--grey-700);
    --btn-active-color: var(--black);
    --btn-text-color: var(--white);
    --btn-default-color: var(--grey-150);
    --btn-default-active-color: var(--grey-250);
    --btn-default-text-color: var(--grey-900);
    --btn-danger-color: var(--danger);
    --btn-danger-active-color: var(--danger-700);
    --btn-danger-text-color: var(--btn-text-color);
    --btn-primary-color: var(--info);
    --btn-primary-active-color: var(--info-700);
    --btn-primary-text-color: var(--btn-text-color);
    --btn-success-color: var(--success);
    --btn-success-active-color: var(--success-700);
    --btn-success-text-color: var(--btn-text-color);
    --btn-warning-color: var(--warning-650);
    --btn-warning-active-color: var(--warning-750);
    --btn-warning-text-color: var(--btn-text-color);
    --menu-3-level-color: var(--grey-100);
    --menu-4-level-color: var(--grey-200);
    --menu-5-level-color: var(--grey-300);
    --menu-6-level-color: var(--grey-400);
    --mobile-menu-color: var(--white);
    --status-danger-color: var(--danger-bg);
    --status-info-color: var(--info-bg);
    --status-success-color: var(--success-bg);
    --status-warning-color: var(--warning-bg);
    --status-default-color: var(--grey-100);
    --status-extra-color: var(--caution-bg);
    --status-extra2-color: var(--violet-bg);
    --status-extra3-color: var(--lime-bg);
    --status-extra4-color: var(--pink-bg);
    --status-extra5-color: var(--cyan-bg);
    --status-extra6-color: var(--brown-bg);
    --status-extra7-color: var(--steel-bg);
    --alertas-caution-description: var(--caution-100);
    --alertas-caution-description-hover: var(--caution-150);
    --alertas-caution-number: var(--caution-500);
    --alertas-caution-number-hover: var(--caution-600);
    --alertas-danger-description: var(--danger-100);
    --alertas-danger-description-hover: var(--danger-150);
    --alertas-danger-number: var(--danger-500);
    --alertas-danger-number-hover: var(--danger-600);
    --alertas-info-description: var(--info-100);
    --alertas-info-description-hover: var(--info-150);
    --alertas-info-number: var(--info-500);
    --alertas-info-number-hover: var(--info-600);
    --alertas-success-description: var(--success-100);
    --alertas-success-description-hover: var(--success-150);
    --alertas-success-number: var(--success-500);
    --alertas-success-number-hover: var(--success-600);
    --alertas-warning-description: var(--warning-100);
    --alertas-warning-description-hover: var(--warning-150);
    --alertas-warning-number: var(--warning-600);
    --alertas-warning-number-hover: var(--warning-650);
    --ancoras-bg-color: var(--aside-right-bg-color);
    --indicator-number-color: var(--white);
    --indicator-description-color: var(--grey-900);
    --progress-caution: var(--caution-250);
    --progress-danger: var(--danger-250);
    --progress-success: var(--success-250);
    --progress-warning: var(--warning-250);
    --step-bg-color: var(--grey-100);
    --step-bg-hover-color: var(--grey-150);
    --step-gap-color: var(--white);
    --timeline-text-color: var(--grey-500);
    --timeline-title-color: var(--black);
    --timeline-alert-text-color: var(--black);
    --timeline-default-text-color: var(--black);
    --timeline-error-text-color: var(--black);
    --timeline-extra-text-color: var(--black);
    --timeline-info-text-color: var(--black);
    --timeline-success-text-color: var(--black);
}

:root {
    --padrao-primary-50: var(--primary-50);
    --padrao-grey-50: var(--grey-50);
    --padrao-info-50: var(--info-50);
    --padrao-success-50: var(--success-50);
    --padrao-warning-50: var(--warning-50);
    --padrao-caution-50: var(--caution-50);
    --padrao-danger-50: var(--danger-50);
    --padrao-violet-50: var(--violet-50);
    --padrao-lime-50: var(--lime-50);
    --padrao-pink-50: var(--pink-50);
    --padrao-cyan-50: var(--cyan-50);
    --padrao-brown-50: var(--brown-50);
    --padrao-steel-50: var(--steel-50);
    --padrao-primary-75: var(--primary-75);
    --padrao-grey-75: var(--grey-75);
    --padrao-info-75: var(--info-75);
    --padrao-success-75: var(--success-75);
    --padrao-warning-75: var(--warning-75);
    --padrao-caution-75: var(--caution-75);
    --padrao-danger-75: var(--danger-75);
    --padrao-violet-75: var(--violet-75);
    --padrao-lime-75: var(--lime-75);
    --padrao-pink-75: var(--pink-75);
    --padrao-cyan-75: var(--cyan-75);
    --padrao-brown-75: var(--brown-75);
    --padrao-steel-75: var(--steel-75);
    --padrao-primary-100: var(--primary-100);
    --padrao-grey-100: var(--grey-100);
    --padrao-info-100: var(--info-100);
    --padrao-success-100: var(--success-100);
    --padrao-warning-100: var(--warning-100);
    --padrao-caution-100: var(--caution-100);
    --padrao-danger-100: var(--danger-100);
    --padrao-violet-100: var(--violet-100);
    --padrao-lime-100: var(--lime-100);
    --padrao-pink-100: var(--pink-100);
    --padrao-cyan-100: var(--cyan-100);
    --padrao-brown-100: var(--brown-100);
    --padrao-steel-100: var(--steel-100);
    --padrao-primary-150: var(--primary-150);
    --padrao-grey-150: var(--grey-150);
    --padrao-info-150: var(--info-150);
    --padrao-success-150: var(--success-150);
    --padrao-warning-150: var(--warning-150);
    --padrao-caution-150: var(--caution-150);
    --padrao-danger-150: var(--danger-150);
    --padrao-violet-150: var(--violet-150);
    --padrao-lime-150: var(--lime-150);
    --padrao-pink-150: var(--pink-150);
    --padrao-cyan-150: var(--cyan-150);
    --padrao-brown-150: var(--brown-150);
    --padrao-steel-150: var(--steel-150);
    --padrao-primary-200: var(--primary-200);
    --padrao-grey-200: var(--grey-200);
    --padrao-info-200: var(--info-200);
    --padrao-success-200: var(--success-200);
    --padrao-warning-200: var(--warning-200);
    --padrao-caution-200: var(--caution-200);
    --padrao-danger-200: var(--danger-200);
    --padrao-violet-200: var(--violet-200);
    --padrao-lime-200: var(--lime-200);
    --padrao-pink-200: var(--pink-200);
    --padrao-cyan-200: var(--cyan-200);
    --padrao-brown-200: var(--brown-200);
    --padrao-steel-200: var(--steel-200);
    --padrao-primary-250: var(--primary-250);
    --padrao-grey-250: var(--grey-250);
    --padrao-info-250: var(--info-250);
    --padrao-success-250: var(--success-250);
    --padrao-warning-250: var(--warning-250);
    --padrao-caution-250: var(--caution-250);
    --padrao-danger-250: var(--danger-250);
    --padrao-violet-250: var(--violet-250);
    --padrao-lime-250: var(--lime-250);
    --padrao-pink-250: var(--pink-250);
    --padrao-cyan-250: var(--cyan-250);
    --padrao-brown-250: var(--brown-250);
    --padrao-steel-250: var(--steel-250);
    --padrao-primary-300: var(--primary-300);
    --padrao-grey-300: var(--grey-300);
    --padrao-info-300: var(--info-300);
    --padrao-success-300: var(--success-300);
    --padrao-warning-300: var(--warning-300);
    --padrao-caution-300: var(--caution-300);
    --padrao-danger-300: var(--danger-300);
    --padrao-violet-300: var(--violet-300);
    --padrao-lime-300: var(--lime-300);
    --padrao-pink-300: var(--pink-300);
    --padrao-cyan-300: var(--cyan-300);
    --padrao-brown-300: var(--brown-300);
    --padrao-steel-300: var(--steel-300);
    --padrao-primary-350: var(--primary-350);
    --padrao-grey-350: var(--grey-350);
    --padrao-info-350: var(--info-350);
    --padrao-success-350: var(--success-350);
    --padrao-warning-350: var(--warning-350);
    --padrao-caution-350: var(--caution-350);
    --padrao-danger-350: var(--danger-350);
    --padrao-violet-350: var(--violet-350);
    --padrao-lime-350: var(--lime-350);
    --padrao-pink-350: var(--pink-350);
    --padrao-cyan-350: var(--cyan-350);
    --padrao-brown-350: var(--brown-350);
    --padrao-steel-350: var(--steel-350);
    --padrao-primary-400: var(--primary-400);
    --padrao-grey-400: var(--grey-400);
    --padrao-info-400: var(--info-400);
    --padrao-success-400: var(--success-400);
    --padrao-warning-400: var(--warning-400);
    --padrao-caution-400: var(--caution-400);
    --padrao-danger-400: var(--danger-400);
    --padrao-violet-400: var(--violet-400);
    --padrao-lime-400: var(--lime-400);
    --padrao-pink-400: var(--pink-400);
    --padrao-cyan-400: var(--cyan-400);
    --padrao-brown-400: var(--brown-400);
    --padrao-steel-400: var(--steel-400);
    --padrao-primary-450: var(--primary-450);
    --padrao-grey-450: var(--grey-450);
    --padrao-info-450: var(--info-450);
    --padrao-success-450: var(--success-450);
    --padrao-warning-450: var(--warning-450);
    --padrao-caution-450: var(--caution-450);
    --padrao-danger-450: var(--danger-450);
    --padrao-violet-450: var(--violet-450);
    --padrao-lime-450: var(--lime-450);
    --padrao-pink-450: var(--pink-450);
    --padrao-cyan-450: var(--cyan-450);
    --padrao-brown-450: var(--brown-450);
    --padrao-steel-450: var(--steel-450);
    --padrao-primary-500: var(--primary-500);
    --padrao-grey-500: var(--grey-500);
    --padrao-info-500: var(--info-500);
    --padrao-success-500: var(--success-500);
    --padrao-warning-500: var(--warning-500);
    --padrao-caution-500: var(--caution-500);
    --padrao-danger-500: var(--danger-500);
    --padrao-violet-500: var(--violet-500);
    --padrao-lime-500: var(--lime-500);
    --padrao-pink-500: var(--pink-500);
    --padrao-cyan-500: var(--cyan-500);
    --padrao-brown-500: var(--brown-500);
    --padrao-steel-500: var(--steel-500);
    --padrao-primary-550: var(--primary-550);
    --padrao-grey-550: var(--grey-550);
    --padrao-info-550: var(--info-550);
    --padrao-success-550: var(--success-550);
    --padrao-warning-550: var(--warning-550);
    --padrao-caution-550: var(--caution-550);
    --padrao-danger-550: var(--danger-550);
    --padrao-violet-550: var(--violet-550);
    --padrao-lime-550: var(--lime-550);
    --padrao-pink-550: var(--pink-550);
    --padrao-cyan-550: var(--cyan-550);
    --padrao-brown-550: var(--brown-550);
    --padrao-steel-550: var(--steel-550);
    --padrao-primary-600: var(--primary-600);
    --padrao-grey-600: var(--grey-600);
    --padrao-info-600: var(--info-600);
    --padrao-success-600: var(--success-600);
    --padrao-warning-600: var(--warning-600);
    --padrao-caution-600: var(--caution-600);
    --padrao-danger-600: var(--danger-600);
    --padrao-violet-600: var(--violet-600);
    --padrao-lime-600: var(--lime-600);
    --padrao-pink-600: var(--pink-600);
    --padrao-cyan-600: var(--cyan-600);
    --padrao-brown-600: var(--brown-600);
    --padrao-steel-600: var(--steel-600);
    --padrao-primary-650: var(--primary-650);
    --padrao-grey-650: var(--grey-650);
    --padrao-info-650: var(--info-650);
    --padrao-success-650: var(--success-650);
    --padrao-warning-650: var(--warning-650);
    --padrao-caution-650: var(--caution-650);
    --padrao-danger-650: var(--danger-650);
    --padrao-violet-650: var(--violet-650);
    --padrao-lime-650: var(--lime-650);
    --padrao-pink-650: var(--pink-650);
    --padrao-cyan-650: var(--cyan-650);
    --padrao-brown-650: var(--brown-650);
    --padrao-steel-650: var(--steel-650);
    --padrao-primary-700: var(--primary-700);
    --padrao-grey-700: var(--grey-700);
    --padrao-info-700: var(--info-700);
    --padrao-success-700: var(--success-700);
    --padrao-warning-700: var(--warning-700);
    --padrao-caution-700: var(--caution-700);
    --padrao-danger-700: var(--danger-700);
    --padrao-violet-700: var(--violet-700);
    --padrao-lime-700: var(--lime-700);
    --padrao-pink-700: var(--pink-700);
    --padrao-cyan-700: var(--cyan-700);
    --padrao-brown-700: var(--brown-700);
    --padrao-steel-700: var(--steel-700);
    --padrao-primary-750: var(--primary-750);
    --padrao-grey-750: var(--grey-750);
    --padrao-info-750: var(--info-750);
    --padrao-success-750: var(--success-750);
    --padrao-warning-750: var(--warning-750);
    --padrao-caution-750: var(--caution-750);
    --padrao-danger-750: var(--danger-750);
    --padrao-violet-750: var(--violet-750);
    --padrao-lime-750: var(--lime-750);
    --padrao-pink-750: var(--pink-750);
    --padrao-cyan-750: var(--cyan-750);
    --padrao-brown-750: var(--brown-750);
    --padrao-steel-750: var(--steel-750);
    --padrao-primary-800: var(--primary-800);
    --padrao-grey-800: var(--grey-800);
    --padrao-info-800: var(--info-800);
    --padrao-success-800: var(--success-800);
    --padrao-warning-800: var(--warning-800);
    --padrao-caution-800: var(--caution-800);
    --padrao-danger-800: var(--danger-800);
    --padrao-violet-800: var(--violet-800);
    --padrao-lime-800: var(--lime-800);
    --padrao-pink-800: var(--pink-800);
    --padrao-cyan-800: var(--cyan-800);
    --padrao-brown-800: var(--brown-800);
    --padrao-steel-800: var(--steel-800);
    --padrao-primary-850: var(--primary-850);
    --padrao-grey-850: var(--grey-850);
    --padrao-info-850: var(--info-850);
    --padrao-success-850: var(--success-850);
    --padrao-warning-850: var(--warning-850);
    --padrao-caution-850: var(--caution-850);
    --padrao-danger-850: var(--danger-850);
    --padrao-violet-850: var(--violet-850);
    --padrao-lime-850: var(--lime-850);
    --padrao-pink-850: var(--pink-850);
    --padrao-cyan-850: var(--cyan-850);
    --padrao-brown-850: var(--brown-850);
    --padrao-steel-850: var(--steel-850);
    --padrao-primary-900: var(--primary-900);
    --padrao-grey-900: var(--grey-900);
    --padrao-info-900: var(--info-900);
    --padrao-success-900: var(--success-900);
    --padrao-warning-900: var(--warning-900);
    --padrao-caution-900: var(--caution-900);
    --padrao-danger-900: var(--danger-900);
    --padrao-violet-900: var(--violet-900);
    --padrao-lime-900: var(--lime-900);
    --padrao-pink-900: var(--pink-900);
    --padrao-cyan-900: var(--cyan-900);
    --padrao-brown-900: var(--brown-900);
    --padrao-steel-900: var(--steel-900);
    --primary-bg: var(--primary-100);
    --info-bg: var(--info-100);
    --success-bg: var(--success-100);
    --warning-bg: var(--warning-100);
    --caution-bg: var(--caution-100);
    --danger-bg: var(--danger-100);
    --violet-bg: var(--violet-100);
    --lime-bg: var(--lime-100);
    --pink-bg: var(--pink-100);
    --cyan-bg: var(--cyan-100);
    --brown-bg: var(--brown-100);
    --steel-bg: var(--steel-100);
    --primary-font-family: "Open Sans", "Lato", sans-serif;
    --monospace-font-family: Monaco, monospace;
    --awesome-font-family: "Font Awesome 5 Free";
    --basis-nav: 270px;
    --basis-nav-collapsed: 60px;
    --basis-aside: 380px;
    --grid-area-end-row-2: "asidenav footer";
    --grid-area-end-row-3: "asidenav footer footer";
    --list-display-icons-column-width: 87px;
    --title-container-size: 2.5rem;
    --title-container-weight: 700;
    --step-measurement: 15px;
    --main-p: 4rem;
    --main-pt: var(--main-p);
    --main-pr: var(--main-p);
    --main-pb: var(--main-p);
    --main-pl: 5rem;
    --main-p-sm: 2rem;
    --main-pt-sm: var(--main-p-sm);
    --main-pr-sm: var(--main-p-sm);
    --main-pb-sm: 3rem;
    --main-pl-sm: 3rem;
    --card-padding: 2.5rem;
    --gap: 1rem;
    --regular-gap: var(--main-p);
    --regular-margin: 2rem;
    --regular-padding: 4rem;
    --menu-margin: var(--regular-margin);
    --labels-width: 170px;
    --filter-width: 200px;
    --border-radius: 5px;
    --box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.05);
}

:root, [data-bs-theme=light] {
    --bs-carousel-indicator-active-bg: #fff;
    --bs-carousel-caption-color: #fff;
    --bs-carousel-control-icon-filter: ;
}

:root, [data-bs-theme=light] {
    --bs-btn-close-filter: ;
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}

:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
}

:root {
    --primary-50: #F5FFFE;
    --primary-75: #E5FFFC;
    --primary-100: #CCFFF8;
    --primary-150: #B2FFF5;
    --primary-200: #99FFF2;
    --primary-250: #80FFEE;
    --primary-300: #66FFEB;
    --primary-350: #54F8E2;
    --primary-400: #25F4D8;
    --primary-450: #0CEDD0;
    --primary-500: #00E5C7;
    --primary-550: #00D6BA;
    --primary-600: #00BDA4;
    --primary-650: #0DA08D;
    --primary-700: #0A7F70;
    --primary-750: #097164;
    --primary-800: #094E45;
    --primary-850: #063730;
    --primary-900: #031C18;
    --primary: var(--primary-700);
    --white: #fff;
    --grey-50: #FCFCFC;
    --grey-75: #F2F2F2;
    --grey-100: #E6E6E6;
    --grey-150: #D9D9D9;
    --grey-200: #CCCCCC;
    --grey-250: #BFBFBF;
    --grey-300: #B3B3B3;
    --grey-350: #A6A6A6;
    --grey-400: #999999;
    --grey-450: #8C8C8C;
    --grey-500: #808080;
    --grey-550: #737373;
    --grey-600: #666666;
    --grey-650: #595959;
    --grey-700: #4D4D4D;
    --grey-750: #404040;
    --grey-800: #333333;
    --grey-850: #262626;
    --grey-900: #1A1A1A;
    --grey: var(--grey-600);
    --black: #1A1A1A;
    --info-50: #F5FCFF;
    --info-75: #E5F7FF;
    --info-100: #CCEFFF;
    --info-150: #B2E7FF;
    --info-200: #99E0FF;
    --info-250: #80D8FF;
    --info-300: #66D0FF;
    --info-350: #4DC8FF;
    --info-400: #33C0FF;
    --info-450: #1AB8FF;
    --info-500: #00B0FF;
    --info-550: #009EE5;
    --info-600: #008DCC;
    --info-650: #007CB2;
    --info-700: #006A99;
    --info-750: #005880;
    --info-800: #004666;
    --info-850: #00384D;
    --info-900: #002533;
    --info: var(--info-600);
    --success-50: #FAFFFA;
    --success-75: #E5FFEA;
    --success-100: #CCFFD6;
    --success-150: #BCF5C4;
    --success-200: #A6F2B1;
    --success-250: #93ECA0;
    --success-300: #7DE88D;
    --success-350: #6BE47A;
    --success-400: #52E067;
    --success-450: #3FD956;
    --success-500: #2AD544;
    --success-550: #22C33B;
    --success-600: #1FAD34;
    --success-650: #1B982E;
    --success-700: #178227;
    --success-750: #156B22;
    --success-800: #11551C;
    --success-850: #0D3F13;
    --success-900: #092B0D;
    --success: var(--success-600);
    --warning-50: #FFFFFA;
    --warning-75: #FFFFE5;
    --warning-100: #FFFFCC;
    --warning-150: #FFFDB2;
    --warning-200: #FFFC99;
    --warning-250: #FFF880;
    --warning-300: #FFFA66;
    --warning-350: #FFFA4D;
    --warning-400: #FFF933;
    --warning-450: #FFF719;
    --warning-500: #F9F106;
    --warning-550: #E3DC02;
    --warning-600: #CAC302;
    --warning-650: #B1AC01;
    --warning-700: #989301;
    --warning-750: #7E7A01;
    --warning-800: #656101;
    --warning-850: #4D4B00;
    --warning-900: #333200;
    --warning: var(--warning-600);
    --danger-50: #FFFAFA;
    --danger-75: #FEE7E7;
    --danger-100: #FCCFCF;
    --danger-150: #FBB6B6;
    --danger-200: #FF9999;
    --danger-250: #F88686;
    --danger-300: #F76E6E;
    --danger-350: #F65555;
    --danger-400: #F53D3D;
    --danger-450: #F42525;
    --danger-500: #E51A1A;
    --danger-550: #DA0B0B;
    --danger-600: #C20A0A;
    --danger-650: #A90909;
    --danger-700: #910808;
    --danger-750: #790606;
    --danger-800: #610505;
    --danger-850: #490404;
    --danger-900: #300303;
    --danger: var(--danger-600);
    --caution-50: #FFFCFA;
    --caution-75: #FFF0E1;
    --caution-100: #FFE5CC;
    --caution-150: #FEDAB3;
    --caution-200: #FFCB99;
    --caution-250: #FEC181;
    --caution-300: #FFB166;
    --caution-350: #FDA94E;
    --caution-400: #FF9733;
    --caution-450: #FD901C;
    --caution-500: #FC8403;
    --caution-550: #E37602;
    --caution-600: #C06402;
    --caution-650: #B15C02;
    --caution-700: #984F01;
    --caution-750: #7E4201;
    --caution-800: #653501;
    --caution-850: #4C2701;
    --caution-900: #321A01;
    --caution: var(--caution-600);
    --violet-50: #FCFAFE;
    --violet-75: #F0E9FC;
    --violet-100: #E1D2F9;
    --violet-150: #D2BBF6;
    --violet-200: #C3A5F3;
    --violet-250: #BD9CF2;
    --violet-300: #B793F1;
    --violet-350: #AE85EF;
    --violet-400: #A578ED;
    --violet-450: #9661EA;
    --violet-500: #874AE8;
    --violet-550: #6F39C6;
    --violet-600: #6434B2;
    --violet-650: #49159D;
    --violet-700: #3F1287;
    --violet-750: #290C5A;
    --violet-800: #1F0944;
    --violet-850: #190736;
    --violet-900: #15062D;
    --violet: var(--violet-600);
    --lime-50: #FDFEFB;
    --lime-75: #F6FAEA;
    --lime-100: #ECF5D6;
    --lime-150: #E3F0C1;
    --lime-200: #DAEBAD;
    --lime-250: #D1E698;
    --lime-300: #C7E184;
    --lime-350: #BCDD6F;
    --lime-400: #B3D85A;
    --lime-450: #AAD346;
    --lime-500: #A1CE31;
    --lime-550: #8FB82E;
    --lime-600: #80A329;
    --lime-650: #6F8F24;
    --lime-700: #607C1D;
    --lime-750: #506719;
    --lime-800: #405214;
    --lime-850: #303E0F;
    --lime-900: #20290A;
    --lime: var(--lime-600);
    --pink-50: #FFF5F9;
    --pink-75: #FFE9F3;
    --pink-100: #FFD3E7;
    --pink-150: #FFB9DA;
    --pink-200: #FFA0CE;
    --pink-250: #FF89C2;
    --pink-300: #FF72B6;
    --pink-350: #FF5AAA;
    --pink-400: #FF429E;
    --pink-450: #F52B90;
    --pink-500: #E01382;
    --pink-550: #BF0F70;
    --pink-600: #9F0C5F;
    --pink-650: #80094E;
    --pink-700: #66083F;
    --pink-750: #4D062F;
    --pink-800: #33041F;
    --pink-850: #220314;
    --pink-900: #15020C;
    --pink: var(--pink-600);
    --cyan-50: #F0FBFD;
    --cyan-75: #DCF7FA;
    --cyan-100: #C1F0F6;
    --cyan-150: #A6E9F2;
    --cyan-200: #8BE2EF;
    --cyan-250: #70DBEC;
    --cyan-300: #55D4E9;
    --cyan-350: #3ACDE6;
    --cyan-400: #1FC6E3;
    --cyan-450: #00BEDF;
    --cyan-500: #00A8C7;
    --cyan-550: #0092AF;
    --cyan-600: #007D98;
    --cyan-650: #006880;
    --cyan-700: #005368;
    --cyan-750: #003F51;
    --cyan-800: #002A39;
    --cyan-850: #001B27;
    --cyan-900: #000F17;
    --cyan: var(--cyan-600);
    --brown-50: #FAF8F6;
    --brown-75: #F1EAE5;
    --brown-100: #E5D9CF;
    --brown-150: #D9C6B8;
    --brown-200: #CCB3A1;
    --brown-250: #BF9F8A;
    --brown-300: #B38C74;
    --brown-350: #A57860;
    --brown-400: #97644C;
    --brown-450: #89503A;
    --brown-500: #7A3D29;
    --brown-550: #673422;
    --brown-600: #552B1C;
    --brown-650: #432215;
    --brown-700: #32190F;
    --brown-750: #22110A;
    --brown-800: #170B06;
    --brown-850: #0E0603;
    --brown-900: #080301;
    --brown: var(--brown-600);
    --steel-50: #FCFCFD;
    --steel-75: #F0F0F5;
    --steel-100: #E0E2EB;
    --steel-150: #D1D3E1;
    --steel-200: #C2C4D6;
    --steel-250: #B2B6CC;
    --steel-300: #A3A7C2;
    --steel-350: #9398B8;
    --steel-400: #8489AE;
    --steel-450: #757BA4;
    --steel-500: #656C9A;
    --steel-550: #5B618A;
    --steel-600: #51567B;
    --steel-650: #474C6C;
    --steel-700: #3D415C;
    --steel-750: #33364D;
    --steel-800: #292B3D;
    --steel-850: #1E202E;
    --steel-900: #14161F;
    --steel: var(--steel-600);
}